[build]
  command = "npm ci && npm run build"
  publish = ".next"  # Set the publish directory to ".next" (default Next.js build folder)

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_SUPABASE_URL,NEXT_PUBLIC_SUPABASE_ANON_KEY,SUPABASE_SERVICE_ROLE_KEY,META_PAGE_ACCESS_TOKEN,NEXT_PUBLIC_USE_MOCK_SUPABASE"

[context.production.environment]
  NEXT_PUBLIC_USE_MOCK_SUPABASE = "true"
